<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @project.name %>
</p>

<p>
  <b>Start time:</b>
  <%= @project.start_time %>
</p>

<p>
  <b>End time:</b>
  <%= @project.end_time %>
</p>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
